body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    background-image: url('../images/download.jpeg'); /* Adjust the path accordingly */
    justify-content: center;
    margin: 0;
    height: 100vh; /* Set the height to cover the viewport */
}


.profile-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin: 20px;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.bio {
    color: #555;
    font-style: italic;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

section {
    margin-bottom: 30px;
    text-align: left;
}

h2 {
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Add the hidden class to hide elements */
.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dropdown-content.open {
    max-height: 500px; /* Adjust as per the content size */
    transition: max-height 0.5s ease-in;
}

.dropdown-header {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    color: #007BFF;
    transition: color 0.3s ease;
}

.dropdown-header:hover {
    color: #0056b3;
}
