<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../public/css/landing.css">
</head>
<body>
    <div class="container">
        <div class="name-card"><a href="Clifford-Portfolio.html" target="_blank">Clifford</a></div>
        <div class="name-card"><a href="https://kobby-portfolio.com" target="_blank">Kobby</a></div>
        <div class="name-card"><a href="kwame.html" target="_blank">Kwame</a></div>
        <div class="name-card"><a href="Afif.html" target="_blank">Afif</a></div>
    </div>

</body>
</html>
