<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../public/css/landing.css">
</head>
<body>
    <div class="container">
        <div class="name-card" data-url="https://clifford-portfolio.com">Clifford</div>
        <div class="name-card" data-url="https://kobby-portfolio.com">Kobby</div>
        <div class="name-card" data-url="https://kwame-portfolio.com">Kwame</div>
        <div class="name-card" data-url="https://afif-portfolio.com">Afif</div>
    </div>

    <script src="../public/js/script.js"></script>
</body>
</html>
